<h2>About</h2>

<p>PatternLab is a small demo appliction of Ember.</p>

<p>Pattern generation is done with <a href="http://amsqr.github.io/chromanin.js/texgen.html">Chromanin.js</a> by <a href="http://www.amsqr.com/">Alejandro Mosquera</a></p>

<p>You can <a href="https://github.com/jagthedrummer/pattern-lab">find the source on GitHub.</a></p>
