<h2>Welcome to the Pattern Lab!</h2>
<p>Your home for procedurally generated patterns.</p>
<p>This is a small demo app built with Ember and Ember Data.</p>
<p>{{#link-to 'patterns'}}You probably want to check out the patterns.{{/link-to}}</p>
