<h2>Latest Patterns</h2>
<ul id="pattern-list">
  <li class="new">{{#link-to 'patterns.new'}}New Pattern{{/link-to}}</li>
  {{#each pattern in content}}
    <li>{{#link-to 'pattern' pattern}}{{pattern-display pattern=pattern width=120 height=50}} {{!pattern.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}
